* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
}

body .info {
  width: 50vw;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4vw;
}

body .login-form {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4vw;
}

body .login-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

body .login-form form label {
  display: block;
}

body .login-form form input {
  width: 100%;
  padding: .25rem;
}

body .login-form form div:last-of-type {
  display: flex;
  justify-content: space-around;
}

body .login-form form div:last-of-type button {
  cursor: pointer;
}

body .login-form form div:last-of-type button.unelevated {
  background-color: transparent;
  border-color: transparent;
}