.filmes-container {
	display: flex;
	padding-top: 32px;
	flex-direction: row;
	gap: 24px;
	justify-content: center;
	width: 100%;
	flex-grow: 1;
}

.filmes-container > div {
	display: flex;
	padding: 8px;
	gap: 8px;
	flex-direction: column;
	width: 240px;
	height: min-content;
	transition: transform 0.12s ease;
}

.filmes-container > div:hover {
	transform: scale(0.96);
}

.filmes-container > div:active {
	filter: blur(1px);
}

.filmes-container > div .img-filme {
	flex-grow: 1;
	overflow: hidden;
	border-radius: 12px;
	max-height: 340px;
	border: 1px solid hsl(0, 0%, 8%);
	display: flex;
	background-color: #000;
}

.img-filme img {
	object-fit: cover;
	width: 100%;
	user-select: none;
	max-width: 100%;
}

.filmes-container > div .filme-info {
	display: flex;
	align-items: center;
	justify-content: center;
}

.filme-info p {
	font-size: 20px;
	font-weight: 600;
	grid-column: 1;
	grid-row: 1;
	color: #fff;
	line-height: 24px;
}
